In [1]:
import pandas as pd

In [2]:
hindi = pd.read_csv('hindi.csv')

In [22]:
hindi.head()

                                                text  label
0  तिरिच मीर पाकिस्तान के ख़ैबर-पख़्तूनख़्वा प्रा...  hindi
1   ऊँचा यह पर्वत हिमालय-काराकोरम श्रेणी के बाहर ...  hindi
2  ्राल शहर से तिरिच मीर दिखता ही है लेकिन यह पहा...  hindi
3  ्तान के कुछ सीमाई इलाक़ों से भी देखा जा सकता ह...  hindi
4   या 'मालिक' होता है। 'तिरिच मीर' के पूरे नाम क...  hindi

In [4]:
panjabi = pd.read_csv('panjabi.csv')

In [23]:
panjabi.head()

                                                text    label
0  ਤਰਸੇਮ ਜ਼ਿਲ੍ਹਾ ਬਰਨਾਲਾ ਵਿੱਚ ਰਹਿੰਦਾ ਇੱਕ ਪੰਜਾਬੀ ਕਵ...  panjabi
1   ਹਨ।\nਕਰਤਾਰ ਸਿੰਘ ਦੁੱਗਲ ਇੱਕ ਪੰਜਾਬੀ ਲੇਖਕ ਸਨ। ਉਹ ...  panjabi
2  ਹਾਂ ਸਾਰੇ ਖੇਤਰਾਂ ਵਿੱਚ ਮਹਿਮਾ ਪ੍ਰਾਪਤ ਕੀਤੀ। ਸ੍ਰੀ ਗ...  panjabi
3  ਨ ਸਿੰਘ ਦੁੱਗਲ ਅਤੇ ਸਤਵੰਤ ਕੌਰ ਦੇ ਘਰ ਹੋਇਆ। ਫਾਰਮਨ ਕ...  panjabi
4  42 ਤੋਂ 1966 ਤੱਕ ਵੱਖ-ਵੱਖ ਅਹੁਦਿਆਂ ‘ਤੇ ਰਹਿਕੇ ਕੰਮ ...  panjabi

In [6]:
sanskrit = pd.read_csv('sanskrit.csv')

In [24]:
sanskrit.head()

                                                text     label
0  महात्मा गान्धी इति प्रसिद्धः मोहनदासकरमचन्द गा...  sanskrit
1  विः रवीन्द्रनाथ ठाकुरः तं महात्मा इति शब्देन स...  sanskrit
2  ाः तं महात्मा गान्धी इति एव अभिजानन्ति । भारतम...  sanskrit
3  न्त्र्यान्दोलने सर्वेषां भारतीयानाम् आधारभूतः ...  sanskrit
4   श्री करमचन्द गान्धी राजकोटसंस्थाने पोरबन्दरसं...  sanskrit

In [8]:
bengali = pd.read_csv('bengali.csv')

In [25]:
bengali.head()

                                                text    label
0  জর্জ ডাকওয়ার্থ ল্যাঙ্কাশায়ারের ওয়ারিংটন এলা...  bengali
1   ক্রিকেট তারকা ছিলেন। ইংল্যান্ড ক্রিকেট দলের অ...  bengali
2  ্ষকের দায়িত্ব পালন করতেন। ডানহাতে ব্যাটিং করা...  bengali
3   ডাকওয়ার্থ। ১৯২২ সালে ল্যাঙ্কাশায়ারে যোগ দেন...  bengali
4  াশাপাশি ৩০ স্ট্যাম্পিং নিজ নামের পাশে যুক্ত কর...  bengali

In [10]:
marathi = pd.read_csv('marathi.csv')

In [26]:
marathi.head()

                                                text    label
0  \n\nअंबिकाबाई राशिवडे मठाच्या मठपती '\nखालील ल...  marathi
1  ानक हे जीन रॉडेनबेरी यांच्या स्टार ट्रेक या ना...  marathi
2  घटना, तसेच पात्रांच्या जन्म-मृत्यूंबाबतची माहि...  marathi
3  िक आहे. \n\n\n\nहाइके कॅमरलिंघ-ऑन्स हे शास्त्र...  marathi
4   · \nॲ · एडवर्ड ॲपलटन\nए · लियो एसाकी\nऑ · फ्र...  marathi

In [12]:
malyalam = pd.read_csv('malyalam.csv')

In [27]:
malyalam.head()

                                                text     label
0  \nഡീ‌എച്ച്‌സി‌പി · ഡി‌എൻ‌എസ് · എഫ്‌റ്റി‌പി · ഗ...  malyalam
1  ി സി പി ·എൻ‌എൻ‌ടിപി · എക്സ്‌എം‌പി‌പി · പോപ്പ്3...  malyalam
2  · ടെൽനെറ്റ് · ആർ‌പിസി · ആർ‌ടി‌പി‌സി · ആർ‌ടി‌എസ...  malyalam
3  ി · റിപ്പ് · ...\nറ്റിസിപി · യൂ‌ഡി‌പി · ഡി‌സി‌...  malyalam
4   ഐ‌എസ്-ഐ‌എസ് · ബിജിപി · ഐപിസെക്ക് · എ‌ആർ‌പി · ...  malyalam

In [14]:
odia = pd.read_csv('odia.csv')

In [28]:
odia.head()

                                                text label
0  ଜଠରାନ୍ତ୍ର ଛିଦ୍ର ନାମ ଦିଆଯାଏ ଯେତେବେଳେ ଜଠରାନ୍ତ୍ରର...  odia
1  ରଣା ଓ ଦରଜ ହୁଏ । ପାକସ୍ଥଳୀ ବା ଗ୍ରହଣୀରେ ଛିଦ୍ର ଥିଲ...  odia
2  ହାର, ଜ୍ୱର ଓ ଦ୍ୱିଧା ହୁଏ । \nଏ ରୋଗର କାରଣ: ମୂନିଆ ...  odia
3  ାର୍ଥ ଖାଇଲେ, କୋଲୋନୋସ୍କୋପି ପ୍ରକ୍ରିୟାରେ, ଭଲଭ୍ୟୁଲସ...  odia
4  ସଂକ୍ରମଣ । ଅନ୍ତନଳୀରେ ଛିଦ୍ର ହେବା ଯୋଗୁ ଏଥିରେ ଥିବା...  odia

In [16]:
gujarati = pd.read_csv('gujarati.csv')

In [29]:
gujarati.head()

                                                text     label
0  ગુજરાત અને ભારતમાં સ્થાન\nતરેડ ભારત દેશના પશ્ચ...  gujarati
1   જિલ્લામાં આવેલા કુલ ૧૧ તાલુકાઓ પૈકીના એક એવા ...  gujarati
2  ત્વે નાળીળેર, ઘઉં, જીરુ, મગફળી, તલ, બાજરી, ચણા...  gujarati
3   આવે છે. આ ગામમાં પ્રાથમિક શાળા, પંચાયતઘર, આંગ...  gujarati
4  િચેરી ભારત દેશનો એક કેન્દ્રશાસિત સંઘપ્રદેશ છે....  gujarati

In [18]:
kannada = pd.read_csv('kannada.csv')

In [30]:
kannada.head()

                                                text    label
0  ಯಾರು ಹಿತವರು, ಪಿ.ಎಸ್.ಮೂರ್ತಿ ನಿರ್ದೇಶನ ಮತ್ತು ಲಕ್ಷ...  kannada
1  ನೀಶ್ ನಿರ್ಮಾಪಣ ಮಾಡಿರುವ ೧೯೭೬ರ ಕನ್ನಡ ಚಲನಚ್ರಿತ್ರ. ...  kannada
2  ದ ವಿಷಸರ್ಪಗಳಲ್ಲಿ ಒಂದು ಜಾತಿ . ಇದಕ್ಕೆ ಬಂಗರಸ್ ಎಂಬ ...  kannada
3  ಈ ಜಾತಿಯಲ್ಲಿ ಸುಮಾರು 12 ಪ್ರಭೇದಗಳಿವೆ. \nಬಂಗರಸ್ ಸಿ...  kannada
4  ಎಲ್ಲೆಡೆ ಸಾಮಾನ್ಯವಾಗಿ ಕಂಡುಬರುತ್ತದೆ. ಸುಮಾರು 2 ಮೀ ...  kannada

In [20]:
nepali = pd.read_csv('nepali.csv')

In [31]:
nepali.head()

                                                text   label
0  Aftermath, Shady, G-Unit, Interscope \nकर्टिस ...  nepali
1  0 सेन्टको नामले चर्चित उनी अमेरिकी व्यापारी, अ...  nepali
2  पनिषद कृष्ण यजुर्वेदीय शाखा को अन्तर्गत एक उपन...  nepali
3   ऋषिहरु हुन् भन्ने मानिन्छ तर मुख्यत वेद व्यास...  nepali
4   जिल्लामा अवस्थित एक गाउँ विकास समिति हो।\n\nए...  nepali

In [32]:
df = pd.concat([hindi, panjabi, sanskrit, marathi, malyalam, gujarati, kannada, nepali, bengali, odia], axis=0)

In [33]:
df.shape

(1777563, 2)

In [34]:
df.head()

                                                text  label
0  तिरिच मीर पाकिस्तान के ख़ैबर-पख़्तूनख़्वा प्रा...  hindi
1   ऊँचा यह पर्वत हिमालय-काराकोरम श्रेणी के बाहर ...  hindi
2  ्राल शहर से तिरिच मीर दिखता ही है लेकिन यह पहा...  hindi
3  ्तान के कुछ सीमाई इलाक़ों से भी देखा जा सकता ह...  hindi
4   या 'मालिक' होता है। 'तिरिच मीर' के पूरे नाम क...  hindi

In [35]:
df['label'].unique()

array(['hindi', 'panjabi', 'sanskrit', 'marathi', 'malyalam', 'gujarati',
       'kannada', 'nepali', 'bengali', 'odia'], dtype=object)

In [36]:
df.to_csv('all_languages.csv', index=False)