In [12]:
import pandas as pd
from random import randint

In [13]:
with open('hindi.txt', 'r') as f:
    text = f.read()

In [14]:
len(text)

87391144

In [15]:
arr = []
l = randint(50,200)
count = 0
while l <= len(text):
    arr.append(text[:l])
    text = text[l:]
    l = randint(50,200)

KeyboardInterrupt:

In [16]:
len(arr)

194017

In [17]:
import pickle
with open('hindi', 'wb') as f:
    pickle.dump(arr, f)

In [18]:
labels = ['hindi']*len(arr)

In [19]:
upto = 200000
df = pd.DataFrame({'text':arr[:upto], 'label':labels[:upto]})

In [20]:
df.shape

(194017, 2)

In [21]:
df.head()

                                                text  label
0  तिरिच मीर पाकिस्तान के ख़ैबर-पख़्तूनख़्वा प्रा...  hindi
1   ऊँचा यह पर्वत हिमालय-काराकोरम श्रेणी के बाहर ...  hindi
2  ्राल शहर से तिरिच मीर दिखता ही है लेकिन यह पहा...  hindi
3  ्तान के कुछ सीमाई इलाक़ों से भी देखा जा सकता ह...  hindi
4   या 'मालिक' होता है। 'तिरिच मीर' के पूरे नाम क...  hindi

In [22]:
df.to_csv('hindi.csv', index=False)