In [1]:
import pandas as pd
from random import randint

In [2]:
with open('malyalam.txt', 'r') as f:
    text = f.read()

In [3]:
len(text)

28117305

In [4]:
arr = []
l = randint(50,200)
count = 0
while l <= len(text):
    arr.append(text[:l])
    text = text[l:]
    l = randint(50,200)

In [5]:
len(arr)

224894

In [6]:
import pickle
with open('malyalam', 'wb') as f:
    pickle.dump(arr, f)

In [7]:
labels = ['malyalam']*len(arr)

In [8]:
upto = 200000
df = pd.DataFrame({'text':arr[:upto], 'label':labels[:upto]})

In [9]:
df.shape

(200000, 2)

In [10]:
df.head()

                                                text     label
0  \nഡീ‌എച്ച്‌സി‌പി · ഡി‌എൻ‌എസ് · എഫ്‌റ്റി‌പി · ഗ...  malyalam
1  ി സി പി ·എൻ‌എൻ‌ടിപി · എക്സ്‌എം‌പി‌പി · പോപ്പ്3...  malyalam
2  · ടെൽനെറ്റ് · ആർ‌പിസി · ആർ‌ടി‌പി‌സി · ആർ‌ടി‌എസ...  malyalam
3  ി · റിപ്പ് · ...\nറ്റിസിപി · യൂ‌ഡി‌പി · ഡി‌സി‌...  malyalam
4   ഐ‌എസ്-ഐ‌എസ് · ബിജിപി · ഐപിസെക്ക് · എ‌ആർ‌പി · ...  malyalam

In [11]:
df.to_csv('malyalam.csv', index=False)