In [1]:
import pandas as pd
from random import randint

In [2]:
with open('nepali.txt', 'r') as f:
    text = f.read()

In [3]:
len(text)

33209788

In [4]:
arr = []
l = randint(50,200)
count = 0
while l <= len(text):
    arr.append(text[:l])
    text = text[l:]
    l = randint(50,200)

In [5]:
len(arr)

265828

In [6]:
import pickle
with open('nepali', 'wb') as f:
    pickle.dump(arr, f)

In [7]:
labels = ['nepali']*len(arr)

In [8]:
upto = 200000
df = pd.DataFrame({'text':arr[:upto], 'label':labels[:upto]})

In [9]:
df.shape

(200000, 2)

In [10]:
df.head()

                                                text   label
0  Aftermath, Shady, G-Unit, Interscope \nकर्टिस ...  nepali
1  0 सेन्टको नामले चर्चित उनी अमेरिकी व्यापारी, अ...  nepali
2  पनिषद कृष्ण यजुर्वेदीय शाखा को अन्तर्गत एक उपन...  nepali
3   ऋषिहरु हुन् भन्ने मानिन्छ तर मुख्यत वेद व्यास...  nepali
4   जिल्लामा अवस्थित एक गाउँ विकास समिति हो।\n\nए...  nepali

In [11]:
df.to_csv('nepali.csv', index=False)